<tr>
  <td>
    <%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %>
  </td>
  <td>
    <%= link_to 'Gist URL', gist.github_url %>
  </td>
  <td><%= gist.author_email %></td>
</tr>
