<tr>
  <td>
    <%= link_to truncate(gist.question.body), admin_question_path(gist.question) %>
  </td>
  <td>
    <%= link_to t("admin.gists.index.url"), gist.github_url %>
  </td>
  <td><%= gist.author_email %></td>
</tr>
