<footer class="footer">
  <div>
    <p><%= current_year %> <%= github_url('MrSaharok', 'TestGuru') %></p>
    <p>Alexandr Zheltiacov</p>
    <p>
      <%= link_to 'Educational project in an online school Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
    </p>
  </div>
</footer>