<footer class="footer p-2 position-absolute bottom-0 end-0">
  <div>
    <p class="mb-2"><%= current_year %> <%= github_url('MrSaharok', 'TestGuru') %> Alexandr Zheltiacov</p>
    <p class="mb-2"><%= link_to t('general.feedback'), new_feedback_path, target: '_blank', class: 'text-secondary' %></p>
    <p class="mb-2"><%= link_to t('general.thinknetica_link'), 'https://thinknetica.com/', target: '_blank' %></p>
  </div>
</footer>
